#contentOverlay {
  background-color: rgba(255, 255, 255, 0.65);
  z-index: 10;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1024px;
  height: 100%;
}

.popup {
	background-color: #fff;
	z-index: 15;
  
  position: absolute;
  top: 50%;
  left: 50%;
  width: 835px;
  height: 500px;
  margin: -250px 0 0 -417.5px;
  
  -moz-box-shadow:    0px 2px 6px 0px rgba(16, 16, 16, 0.65);
  -webkit-box-shadow: 0px 2px 6px 0px rgba(16, 16, 16, 0.65);
  box-shadow:         0px 2px 6px 0px rgba(16, 16, 16, 0.65);
  border: 2px solid #222;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  overflow: hidden; 
}

.popup .content { 
	margin: 0 1em;
}