{ 
	"status":"success",
	"data":[
	        {
	        	"id":"62.216.8.197\/10.0.0.18",
	        	"remoteip":"62.216.8.197",
	        	"localip":"10.0.0.18",
	        	"wifiboxid":"Albert",
	        	"hidden":"0",
	        	"date":"2013-10-03 17:24:33",
	        },
	        {
	        	"id":"62.216.8.197\/10.0.0.29",
	        	"remoteip":"62.216.8.197",
	        	"localip":"10.0.0.29",
	        	"wifiboxid":"Wilbert",
	        	"hidden":"0",
	        	"date":"2013-10-03 17:52:19"
	        }
	       ],
}